@charset "utf-8";
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/animations";

@include breakpoints(
  (
    xlarge: (
      1281px,
      1920px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      769px,
      980px,
    ),
    small: (
      581px,
      768px,
    ),
    xsmall: (
      361px,
      580px,
    ),
    xxsmall: (
      null,
      360px,
    ),
  )
);

@import "libs/typography";
@import "base/reset";
@import "base/common";
@import "layout/header";
@import "layout/footer";
@import "components/menu";
@import "components/article";
@import "components/card";
