.card {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__post {
    &__tag,
    &__date {
      font-size: 12px;
      line-height: 12px;
      border-radius: 2.5px;
      padding: 1.5px 5px;
    }
    &__tag {
      color: white;
      background-color: $tag-red;
    }
    &__date {
      margin-left: 10px;
      color: white;
      background-color: grey;
    }
    &__title {
      margin: 5px 0;
      font-size: 25px;
    }
    &__description {
    }
    &__readmore {
    }
  }
}
