/*base */

html {
  width: 100%;
  background-color: #fff;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: serif;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: $contents-max-width;

  @include breakpoint(">small") {
    padding: 0 30px;
  }
  @include breakpoint("<=small") {
    padding: 0 15px;
  }
  & > h1 {
    margin: 30px 0;
  }
}

.breadcrumb {
  margin: 30px 0;
  font-size: 12px;
  span {
    margin: 0 3px;
  }
  a {
    color: blue;
  }
}
