/*base */

html {
  width: 100%;
  background-color: #fff;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: serif;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  word-break: break-word;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: $contents-max-width;

  @include breakpoint(">small") {
    padding: 0 30px;
  }
  @include breakpoint("<=small") {
    padding: 0 15px;
  }
  & > h1 {
    width: fit-content;
    margin: 30px 0;
    position: sticky;
    top: 25px;

    &::before {
      content: "";
      display: inline-block;
      background-color: rgb(65, 65, 65);
      width: 16px;
      height: 35px;
      margin-right: 11px;
      vertical-align: sub;
    }
  }
}

.breadcrumb {
  margin: 15px 0;
  span {
    font-size: 12px;
    margin: 0 3px;
  }
  a {
    font-size: 12px;
    color: darkblue;
  }
}

.key-visual {
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint(">small") {
    margin-left: 0;
    width: 100%;
    height: 300px;
  }
  @include breakpoint("<=small") {
    margin-left: -15px;
    height: 50vw;
  }
}

#select-post-tag {
  color: $font-black;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid $grey3;
  background-color: $bg-white;
}

#twitterShareButton,
#lineShareButton {
  @include breakpoint("<=small") {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    border-radius: 25px;
  }
  @include breakpoint(">small") {
    display: none;
  }
}

#lineShareButton {
  left: 15px;
}

#twitterShareButton {
  color: white;
  background-color: lightblue;
  left: 65px;
}
